tbody tr td {
    line-height: 70px;
}

.bg_image{
    width: 100%;
    height: 80vh;
    background-image: url('../src/assets/bg_img.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    
}

.bg_color{
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom, rgba(248, 245, 245, 0.5), rgba(209, 122, 8, 0.589));
}

.bg_home_color{
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom, rgba(235, 219, 219, 0.719), rgba(219, 188, 148, 0.904));
}

.login_contaienr{
    margin-top: 2rem;
    border-radius: 10px;
    padding: 2rem 3rem;
    border: 2px solid rgb(243, 241, 238);
    background: linear-gradient(to bottom, rgba(168, 145, 145, 0.5), rgba(209, 122, 8, 0.473))
}
.login_home_contaienr{
    /* margin-top: 4rem; */
    border-radius: 10px;
    padding: 2rem 3rem;
    border: 2px solid rgb(243, 241, 238);
    background: linear-gradient(to bottom, rgba(202, 183, 183, 0.699), rgba(209, 122, 8, 0.904))
}

.tomato_color{
    color: tomato;
}
.bg_tomato{
    background-color: tomato;
}

.midea{
    color: aliceblue;
    font-size: 2rem;
}
.facebook{
    margin-right: 10pz;
}
.messenger{
    margin: 0 15px;
}
.insta{
    margin-right: 15px;
    color: #fa7e1e;
}
.youtube{
    color: #FF0000;
}

/* error pase  */
.error_container{
    width: 100%;
    height: 100vh;
}


.active{
    color: red;
}

.test{
    color: tomato;
    font-size: medium;
    font-weight: bold;
    text-decoration: none;
    margin-right: 15px;
}